.letterContainer {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
.letterHeader {
  display: flex;
  justify-content: flex-end;
}

.letterCopyIcon {
  border: 2px solid #ccc;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.letterCopyIcon:hover {
  transform: scale(1.1);
}

.letterContent {
  font-size: 1.2rem;
  width: 90%;
  white-space: pre-wrap;
  line-height: 2;
}

.letterSender {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
  line-height: 1.3;
}

.receiveDate {
  line-height: 1.3;
  font-weight: 700;
}
